h1{
text-align:center;
color:white;
background-color:gray;
}
img{
	border-radius:50%;
	width:300px;
	height:300px;
	padding-right:5px;
}
.word{
	vertical-align: top;
	width:85%;
}
table{
border:1px solid black;
width:100%;
border-collapse:collapse;
}	
td{
	border:1px solid black;

}
div{
	width:1024px;
}
span{
	font:bold italic 150% serif;
	
}
p{
	font:bold 100% sans-serif;;
}
